<h1>Admin Page</h1>

<h2><%=link_to "Create, Edit or Delete a Question", questions_path %> </h2>
<h2><%=link_to "Create, Edit or Delete a Subject", subjects_path %></h2>
<h2><%=link_to "Create, Edit or Delete a User", users_path %></h2>
